{% extends 'base.html' %}
{% block title %}Upload
{% endblock title %}
{% block body %}
<br/>
<br/>

<div class="container">
  <!-- Content here -->
  <div class="container">
    <div class="row">
      <div class="col"> 
        {%for url in new_url%}
          <img src="{{url}}" width="250" height="250">
        {%endfor%}      
      </div>
      </br>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">File name</label>
          <input class="form-control" type="text" value="{{file_name}}" aria-label="readonly input example" readonly>

          <label for="exampleFormControlInput1" class="form-label">Page Numbers</label>
          <input class="form-control" type="text" value="{{page}}" aria-label="readonly input example" readonly>

          <label for="exampleFormControlInput1" class="form-label">Amount</label>
          <input class="form-control" type="text" value="rs.{{cost}}" aria-label="readonly input example" readonly>
          <br/>
          <form action="{% url 'payment' %}" method="POST">
          {% csrf_token %}

            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{api_key}}"
                data-order_id="{{order_id}}"
                data-buttontext="Pay"
                data-name="PayPrint"
                data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                
                data-prefill.name="Utsav Kumar"
                data-prefill.email="u3dofficial@gmail.com"
                data-prefill.contact="9999999999"
                data-theme.color="#00A36C"
            ></script>
            <input type="hidden" custom="Hidden Element" name="hidden">
            </form>

        </div>

        
      </div>
      
    </div>
  </div>

</div>




{% endblock body %}